#Home-view{
    background-color: #F0F0F3;
}
html{
    scroll-behavior: smooth;
}
#Home-view>div{
    padding: 10% 0;
}
#navv{
    z-index: 35;
    position: fixed;
    width: 100%;
    background: #f0f0f3;
}
#navv>div{
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b8b8b8;
    background-attachment: #f0f0f3;
}
#navv>div>div:first-child{
    width: 100px;
    margin: -1.5% 0;
}
#navv>div>div img{
    width: 100%;
}
#navv>div ul{
    /* min-width: 35%; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
}
#navv>div ul li{
    transition: .2s;
    cursor: pointer;
    font-size: 18px;
}
#navv>div ul li:hover{
    font-weight: 600;
}

#Home-view main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Home-view main header{
    width: 50%;
}
#Home-view main>div {
    width: 40%;
}
#Home-view main div>div>span{
    font-size: 0.8em;
    color: #bebebe;
    margin-bottom: 5%;
    display: block;
    font-size: 18px;

}
#Home-view header h1{
    font-size: 4em;
    background: linear-gradient(to right, var(--gradient1),var(--gradient2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Home-view header p{
    color: var(--gris1);
    margin: 10% 0;
    font-size: 20px;
}
#Home-view header a:nth-child(3) button{
    font-weight: 600;
}
#Home-view header a:nth-child(4) button{
    transform: translateX(10%)
}
#Home-view header button:last-child{
    /* margin-left: 20px; */
    background: none;
    border: none;
    cursor: pointer;
}
#Home-view main button{
    font-size: 18px;
}
#mira-plataf{
    padding: 10%;
    box-shadow: -6px -6px 19px 0px #fff, 6px 6px 19px 0px rgba(174, 174, 192, 0.3), inset -6px -6px 7px 0px rgba(174, 174, 192, 0.2), inset 6px 6px 7px 0px #fff;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
#mira-plataf h3{
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.5em;
}
#mira-plataf>div, #mira-plataf>div>div, #mira-plataf li a, #mira-plataf li a>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mira-plataf>div>img{
    margin: 0;
}
#mira-plataf img{
    width: 36px;
    margin-right: 15px;
}
#mira-plataf ul{
    padding: 10% 0;
    position: absolute;
    width: 100%;
    background-color: #F0F0F3;
    box-shadow: 6px -6px 19px 0px #fff, 6px 6px 19px 0px rgba(174, 174, 192, 0.3), inset -6px -6px 7px 0px rgba(174, 174, 192, 0.2), inset 6px 6px 7px 0px #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    z-index: 2;
    border-radius: 15px;
}

#mira-plataf li a{
    padding: 2% 10%;
    margin: 2% 0;
    font-size: 1.5em;
    color: #676767;
}
#mira-plataf li a:hover, #mira-plataf li a:hover button{
    color: #272727;
    
}
#mira-plataf li a button{
    background-color: transparent;
    border: none;
    color: #676767;
    cursor: pointer;
}

#steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 0;
}
#steps>div{
    width: 30%;
    display: flex;
    align-items: center;
    color: var(--gris1);
}
#steps>div img{
    position: absolute;
    width: 36px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#steps>div>div{
    width: 90px;
    height: 90px;
    position: relative;
    box-shadow: -4px -4px 10px 0px #fff,
                -4px -4px 10px 0 rgba(174, 174, 192, 0.4),
                inset 3px 3px 3px 0 rgba(174, 174, 192, 0.25), 
                inset -3px -3px 3px 0px #fff;
    border-radius: 250px;
} 
#steps>div p{
    margin-left: 15px;
    width: calc(100% - 90px);
    font-size: 18px;
}

#plataformas-cont>h3{
    text-align: center;
    font-size: 2.5em;
    margin: 10% 0;
}
#plataformas-cont>ul>li{
    padding: 3.5% 5%;
    box-shadow: -6px -6px 19px 0px #fff, 6px 6px 19px 0px rgb(174 174 192 / 20%), inset -6px -6px 7px 0px rgb(174 174 192 / 20%), inset 6px 6px 7px 0px #fff;
    margin: 10% 0;
    border-radius: 15px;
}
.plataf-name{
    opacity: 0.7;
    transition: .2s;
    cursor: pointer;
    position: relative;

}
#plataformas-cont>ul>li:hover .plataf-name{
    opacity: 1;
}
#plataformas-cont>ul>li:hover .plataf-name>img{
    transform: rotate(180deg)
}
.plataf-name, .plataf-name>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plataf-icon{
    margin-right:35px;
}
#plat-info{
    padding: 10% 5%;
    font-size: 1.2em;
}
#plat-info>hr{
    margin: 8% auto;
    border: none;
    height: 1px;
    background-color: rgb(174, 174, 174);
}
#plat-info li{ list-style: inherit; }
.calculadora-cont h6{
    font-size: 1.2em;
}
.calculadora-cont .Boton1{
    padding: 20px 38px;
    font-size: 1.1em;
    margin: 10% auto 0;
    display: block;
    color: #000;
    font-weight: 600;
}
.plat-selected .plataf-name>img{
    transform: rotate(45deg)!important;
}

.plat-selected{
    box-shadow: inset -10px -10px 10px 0 #fff, inset 10px 10px 10px 0 rgb(174 174 192 / 20%)!important;
}

.plataf-name h4{
    font-size: 1.8em;
}
.plataf-name img{
    width: 32px;
    transition: .5s cubic-bezier(.44,.8,.4,1.02);
}


#faq-section>h3{
    font-size: 2.5em;
    margin: 25vh 0 5%;
}
#faq-section ul{
    font-size: 1.2em;
}
#faq-section li{
    padding: 5% 0;
    border-bottom: 1px solid rgb(195, 195, 195);
    transition: 0.2s;
    cursor: pointer;
}

#faq-section li:hover{
    opacity: 0.8;
}
#faq-section li>div:first-child{
    display: flex;
    align-items: center;
    padding: 3.55% 0;
}
#faq-section h6{
    font-size: 1.5em;
}
.icon-preg{
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 15px;
}
.icon-preg>div{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 10px;
    top: 50%;
    transition: .5s;

}
.icon-preg>div:first-child{
    transform: rotate(90deg) translateX(-3px);
}
.icon-preg>div:last-child{
    transform: translateY(-3px);
}
.abiertus{
    transform: translateY(-3px)!important;    
}
.rta{
    margin-left: calc(1em + 15px);
    padding: 0% 2%;
    border-left: var(--gradient1) solid 1px;
}


@media (max-width: 800px){
#Home-view main{
    flex-direction: column;
}
#Home-view main header{
    width: 100%;
    padding-top: 15vh;
}
#Home-view main header h1{
    font-size: 3.5em;
}
.main-cont{
    width: 90%;
}
#Home-view main header a{
    display: block;
    margin: 15% 0;
}
#Home-view main>div{
    width: 100%;
}
#steps{
    display: block;
    padding: 10vh 0;
}
#steps>div{
    width: 100%;
    margin: 15% 0;
}
#faq-section{
    padding-bottom: 15vh;
}
#faq-section h6{
    font-size: 1.1em;
}
#faq-section li p{
    font-size: 0.9em;
}
.icon-preg{
    width: 2em;
    height: 2em;
    margin-right: 5px;
}


}