.InputField{
    margin: 5% 0;
}
.InputField label{
    display:inline-block;
    margin-right: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.InputField input[type=number] {
  -moz-appearance: textfield;
}
.InputField input{
    box-shadow: inset 6px 5px 7px 0px rgb(174 174 192 / 20%),
                inset -6px -6px 7px 0px #fff,
                -3.5px -3.5px 8px 0px #fff,
                6px 6px 14px 0px rgb(174 174 192 / 20%);
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: .2s;
}
.InputField input:focus{
    box-shadow: inset -7px -7px 7px 0 #fff, inset 7px 7px 7px 0 rgb(174 174 192 / 20%)!important;
}
.InputField b{
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    color: #000;
    font-weight: 900;
}